name: Publish Actions Runner Image

on:
  push:
    paths:
      - 'actions-runner/**'
    branches:
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/actions-runner

jobs:
  build-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push the container to GitHub Container Registry using the latest tag
        uses: docker/build-push-action@v2
        with:
          context: .
          file: actions-runner/Dockerfile
          platforms: |
            linux/amd64
            linux/arm64
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          push: true
          provenance: false
